<title><%= title %></title>
<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<p>All fields are required.</p>
<div class ="signup-page">
    <div class="account-signup">  
        <form class="signup" action="/account/register" method="post">
            <p>All fields are required.</p>
            <div>
                <label for="first_name">First name</label>
                <input type="text" id="first_name" name="account_firstname" required />
            </div>
            <div>
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="account_lastname" required/>
            </div>
            <div>
                <label for="email">Email address</label>
                <input type="email" id="email" name="account_email" required/>
            </div>
            <div>
                <label for="password">Password</label>
                <span> (Password must be at least 12 characters, include one uppercase letter, one number, and one special character.)</span>
                <input type="password" id="password" name="account_password" required minlength="12" 
                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}$" 
                title="password">
            </div>
            

            <button type="submit">Register</button>
        </form>
        <p>Have an Account? <a href="/account/login">Click Here</a></p>
    </div>
</div>