<h1>Welcome to JNE Motors!</h1>
<div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="Hero image Delorean">
    <div class="hero-box">
        <h2>DMC Delorean</h2>
        <h3>3 Cup holders<br>Superman doors<br>Fuzzy dice!</h3>
        <a href="" class="button">Own Today</a>
    </div>
</div>
<section class="features">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <ul>
            <li>
                <div class="image-box">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" class="upgrade-icon">
                </div>
                Flux Capacitor
            </li>
            <li>
                <div class="image-box">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" class="upgrade-icon">
                </div>
                Flame Decals
            </li>
            <li>
                <div class="image-box">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" class="upgrade-icon">
                </div>
                Bumper Stickers
            </li>
            <li>
                <div class="image-box">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" class="upgrade-icon">
                </div>
                Hub Caps
            </li>
        </ul>
    </div>
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>