
<main id="error-page">
    <h1><%= title %></h1>
    
    <section class="error-reason">
        <p><%- message %></p> 
        <p>There has been an error. Go back to <a href="/">home page</a> or check the URL!!!</p>
    </section>
</main>
